header {
    @include size(100%, 64px);
    @include flex(row, space-between);
    position: fixed;
    padding: 20px 30px 0 30px;
    background-color: #fff;
    z-index: 5;
    .logo {
        @include flex(row);
        &-image {
            @include size(32px, 32px);
            @include bg-img("~@/assets/images/logo.png");
            margin-right: 10px;
        }
        &-name {
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: #161929;
        }
    }
    .login {
        @include flex(row);
        &-image {
            @include size(20px, 21px);
            @include bg-img("~@/assets/images/login.png");
            margin-right: 10px;
        }
        &-name {
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            color: #0060FF;
        }
    }
}