.interview {
    @include size(100%, 100%);
    .communicate {
        @include size(30%, 100%);
        position: absolute;
        right: 0;
        .message-box {
            @include size(100%, calc(100% - 160px));
            @include flex(column);
            padding: 64px 24px 24px 24px;
            background-color: #F6F6F6;
            border: 1px solid #EDF0F6;
            overflow: auto;

            .message-item {
                @include size(70%, auto);
                @include flex(column);
                margin-bottom: 10px;
                
                .time {
                    margin-left: 56px;
                    font-weight: 500;
                    font-size: 12px;
                    color: #868686;
                }
                .content {
                    @include size(100%, auto);
                    @include flex(row);
                    .avatar {
                        @include size(48px, 48px);
                        border-radius: 24px;
                        background-color: #EB5757;
                        margin-right: 8px;
                        align-self: flex-start;
                        vertical-align: top;
                    }
                    .message {
                        min-height: 48px;
                        min-width: 10px;
                        max-width: calc(100% - 80px);
                        background-color: #FFFFFF;
                        border-radius: 0px 10px 10px 10px;
                        padding: 12px 16px;
                        text-align: left;
                        white-space: break-spaces;
                    }
                }
            }

            .right {
                align-self: flex-end;
                .time {
                    align-self: flex-end;
                    margin-right: 64px;
                }
                .content {
                    justify-content: flex-end;
                    .avatar {
                        order: 2;
                        margin-left: 8px;
                        background-color: #0060FF;
                    }
                    .message {
                        order: 1;
                        background-color: #0060FF;
                        border-radius: 10px 0 10px 10px;
                        color: #FFFFFF;
                    }
                }
            }
        }
        .send-box {
            @include size(100%, 160px);
            border: 1px solid #EDF0F6;
            textarea {
                height: 100%;
                border: none;
                resize: none;
            }
            .send-btn {
                @include absolute(unset, 24px, 12px, unset);
                background-color: #0060FF;
            }
            .disable-btn {
                background-color: #868686;
                cursor: not-allowed;
            }
        }
    }

    .resize{
        height: 100%;
        width: 4px;
        position: absolute;
        left: 70%;
        background: #EDF0F6;
        z-index: 3;
        cursor: col-resize;
        user-select: none;
    }
    
    .code {
        @include size(70%, 100%);
        position: absolute;
        z-index: 3;
        // transition: all .2s ease;
        .coder {
            @include size(100%, calc(100% - 160px));
            position: relative;
            padding: 64px 0 0 0;
            border: 1px solid #EDF0F6;
            // background-color: black;
            .submit-btn {
                @include absolute(76px, 24px, unset, unset);
                background-color: #0060FF;
            }
            .disable-btn {
                background-color: #868686;
                cursor: not-allowed;
            }
            .expand-btn {
                @include absolute(50%, -16px, unset, unset);
                width: 16px;
                height: 64px;
                background: rgba(0, 0, 0, 0.3);
                border-radius: 0 5px 5px 0;
                padding: 0;
                color: #fff;
                display: none;
            }
            .toggle-btn {
                @extend .expand-btn;
                @include absolute(50%, 0, unset, unset);
                background: rgba(0, 0, 0, 0.3);
                border-radius: 5px 0 0 5px;
            }
            &:hover {
                .expand-btn,.toggle-btn {
                    display: block;
                }
            }
            .video-box {
                @include size(360px, 240px);
                @include absolute(unset, 16px, 16px, unset);
                border: 2px solid #FFFFFF;
                border-radius: 8px;
                video {
                    @include size(100%, 100%);
                }
            }
        }
        .toolbar {
            @include size(100%, 160px);
            @include flex(row, space-between, center);
            border: 1px solid #EDF0F6;
            padding: 0 24px;
            background-color: #fff;
            
            .tool-list {
                height: 160px;
                @include flex(row, flex-start, center);
                .tool-btn {
                    @include size(48px, 48px);
                    border-radius: 24px;
                    border: none;
                    background-color: #DFEBFF;
                    margin-right: 24px;
                    img {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .selected {
                    background-color: #0060FF;
                }
            }
            .end-btn {
                background-color: #EB5757;
            }
        }
    }
}

.radius-btn {
    height: 40px;
    border-radius: 20px;
    border: none;
    color: #fff;
}